langchain
langchain-core
langchain-community

langchain-huggingface
transformers
sentence-transformers
huggingface-hub
youtube-transcript-api


python-dotenv


faiss-cpu

numpy
scikit-learn 